{% extends "padre.html" %}

{% block content %}

<h1>Acerca de Cristian Pinto</h1>

<p>Bienvenido a mi página de About. Aquí encontrarás información sobre mí y mis proyectos.</p>
<p>Mi nombre es Cristian Pinto, soy estudiante de programación y actualmente estoy desarrollando una aplicación web.</p>
<p>Esta aplicación incluye funcionalidades como la gestión de cursos, estudiantes, docentes y un sistema de búsqueda para cada uno de ellos.</p>
<p>Si deseas saber más sobre mis proyectos, no dudes en contactarme.</p>
<p>¡Gracias por visitar mi página!</p>



{% endblock %}