{% extends "padre.html" %}

{% block title %} Cursos {% endblock %}

{% block content %}

<h2>Buscar Curso</h2>

<form method="GET" action="{% url 'buscar-cursos' %}">
    <input type="text" name="nombre" placeholder="Buscar curso..." value="{{ nombre }}">
    <button type="submit">Buscar</button>
</form>

<h2>Cursos: </h2>

<ul>
    {% for curso in cursos %}
        <li>
            {{ curso.nombre }}
            <button type="button" onclick="location.href='{% url 'detalle-curso' curso.pk %}'"> Detalle </button>
            <button type="button" onclick="location.href='{% url 'editar-curso' curso.pk %}'"> Editar </button>
            <button type="button" onclick="location.href='{% url 'eliminar-curso' curso.pk %}'"> Eliminar </button>
        </li>
    {% empty %}
        <li>No hay cursos disponibles.</li>
    {% endfor %}
</ul>

<form action="{% url 'crear-curso' %}">
    <button type="submit">Agregar Curso</button>
</form>

{% endblock %}
