{% extends "padre.html" %}

{% block content %}

<h2>Buscar Docente</h2>

<form method="GET" action="{% url 'buscar-docentes' %}">
    <input type="text" name="nombre" placeholder="Buscar docente..." value="{{ nombre }}">
    <button type="submit">Buscar</button>
</form>

<h2>Lista de Docentes</h2>
<ul>
    {% for docente in docentes %}
        <li>
            {{ docente.nombre }} {{ docente.apellido }}
            <button type="button" onclick="location.href='{% url 'detalle-docente' docente.pk %}'"> Detalle </button>
            <button type="button" onclick="location.href='{% url 'editar-docente' docente.pk %}'"> Editar </button>
            <button type="button" onclick="location.href='{% url 'eliminar-docente' docente.pk %}'"> Eliminar </button>
        </li>
    {% empty %}
        <li>No hay docentes disponibles.</li>
    {% endfor %}
</ul>

<form action="{% url 'crear-docente' %}">
    <button type="submit">Agregar Docente</button>
</form>

{% endblock %}
