{% extends "padre.html" %}
{% block content %}

<h2>Datos de la cuenta</h2> 

{% if user.avatar and user.avatar.imagen %}
    <img style="width: 200px; height: 200px" src="{{ user.avatar.imagen.url }}" alt="Imagen de avatar">
{% else %}
    <p>No hay imagen de avatar cargada.</p>
{% endif %}

<p>Nombre de usuario: {{ user.username }}</p>
<p>Correo: {{ user.email }}</p>

<a href="{% url 'editar_usuario' user.id %}">
    <button>Editar Usuario</button>
</a>

<form action="{% url 'eliminar_usuario' user.id %}" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta cuenta?');">
        Eliminar Usuario
    </button>
</form>

{% endblock %}